.em
{
    height: 350px;
    width: 50%;
    border: 1px solid white;
    margin: auto;
    text-align: center;
    margin-left: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.em>h2
{
    color: rgb(24, 154, 24);
}
.lo
{
    height: 70px;
    width:50%;
    border: 1px solid grey;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
.lo>p{
    text-align: center;
}
.cont
{  height:50px;
    width: 50%;
    border: 1px solid white;
    margin: auto;
    font-size: larger;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}